body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    min-height: 800px;
    background: #ebebeb;
    overflow: auto;
  }
  
  button {
    background: #ffffff;
    color: #555555;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border: none;
    padding: 15px;
    flex-grow: 1;
    width: 70px;
  }


